body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.tile li {
  display: inline;
  float: left;
  text-align: center;

}

.tile a {
  display: block;
  /* padding: 5px; */
  margin-right: 5px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px
}

.text-center {
  text-align: center;
}

.wrapper {
  height: 100%;
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
}

.parent {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.child {
  display: inline-block;
  align-content: flex-start;
  margin:10px 0 0 10px;
  flex-grow: 1;
  width: calc(100% * (1/4) - 10px - 1px)
}

.column {
  height: 100%;  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
  flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
  width: 40%;
}

.top-left {
  flex-shrink: 0;
  width: 40%;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
}

.bottom {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;  /*adds scroll to this container*/
}

/* cart styling */

#cart-background {
  background-color: orange
}

#total {
  font-size: 20px;
  margin-bottom: 50px;
}

#checkout-button {
  text-decoration: none;
  color: black;
  background-color: orange;
  padding: 5px;
  box-shadow: 2px 2px black;
}

a:visited {
  color: black;
}

.cart-header {
  text-align: center;
  font-size: 30px;
  /* color: orange; */
}

.cart-container {
  text-align: center;
}

.cart-item-container {
  background-color: orange;
  margin: 20px;
  border-color: black;
  border-style: solid;
  width: 15%;
  text-align: center;
  display: inline-block;
}
